<nav>
    <div class="nav">
      <a href="/" class="brand-logo">Main</a>
      <ul>
          {{#if user}}
            <li>Welcome, {{user.email}}</li>
            <li><a href="/logout">Log out</a></li>
            {{else}}
            <li><a href="/register">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
