<h1>Log in</h1>

<form class="signup" action="/signup">
  <label for="email">Email</label>
  <input type="text" name="email"  />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password"  />
  <div class="password error"></div>
  <button>login</button>
</form>

<script defer src="/js/logIn.js"></script>