
<h1 class="main_title">Все о чае...</h1>
<br>
 <div id="map" style="width: 1200px; height: 600px"></div>
{{!-- {{tea}} --}}

<script type="text/javascript">
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 2
        });
        {{#each teas}}
        myMap.geoObjects
       .add(new ymaps.Placemark([{{this.location}}], {
        hasBaloon: false,
        balloonContentBody: `<a href='/{{this.id}}'>{{this.nameTea}}</a>`,
      }, {
        preset: 'islands#icon',
        iconColor: '#0095b6'
      }))
      {{/each}}
    }
</script>

